*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
#content{
    background-color: #ffffff;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    background-size: 100px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.h1,.h2,.h3{
    text-align: center;
    color:#000000;
}
.h1{
    font-size: 80px;
}

.p{
    text-align: center;
    text-justify: inter-word;
    padding: 8px;
    margin : 5px 90px 5px 90px;
    font-size: 24px;
}

.landscape{
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo{
    border-radius: 50%;
    opacity: 7.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    margin-block-start: 6px;
}

.row{
    width: 100%;
}
.navigation{
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    margin-top: auto;
}

@media(min-width:300px) and (max-width :1024px){
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,
    .col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
    .col-sm-11,.col-sm-12{
        float: left;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}

#inner{
    width: 30%;
    height: 18%;
    top: 35%;
    margin: 0 auto;
    position: relative;
}
.footer{
    background-color:dimgray;
    height: 600px;
    color: azure;
}
a:link, a:visited,a:active{
    text-decoration:none;
    color:black;
}
.navigation{
    margin-block-start: 6px;
}
.container{
    height: 100%;
}
.columna{
    float: left;
    width: 50%;
}