body {
    margin: 0;
  }

*{
    font-family: 'Open Sans', sans-serif;
}


.landscape {
    background-image: url("https://artist.com/photos/arts/extra-big/girl-wave-1800117135.jpg");
    background-color: #cccccc;
    height: 937px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;  
}

.principal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    ;
  }

.navigation{
    font-size: 20px;
    text-align: center;
}

a:link, a:visited,a:active{
    text-decoration:none;
    color:white;
    margin-left: 6px;
    margin-right: 6px;
}
.photo{
    border-radius: 50%;
    opacity: 7.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    margin-top: 30px;
    margin-bottom: 30px;
}


#box-container {
    height: 100%;
    display: flex;
}

#box-1 {
    background-color: dodgerblue;
    width: 40%;
    height: 50%;
    text-align: left;
}

#box-2 {
    background-color: orangered;
    width: 20%;
    height: 50%;
}

#box-3 {
    background-color: yellow;
    width: 40%;
    height: 50%;
    text-align: left;
}
#title-2{
    grid-area: title-2;
}

.one{
    grid-area: one;
    background-color: greenyellow;
}
.two{
    grid-area: two;
    background-color: cadetblue;
}
.three{
    grid-area: three;
    background-color: brown;
}
.four{
    grid-area: four;
    background-color: brown;
}
.five{
    grid-area: five;
    background-color: brown;
}
.six{
    grid-area: six;
    background-color: brown;
}

#box-education{
    display: grid;
    gap: 5px;
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "title-2 title-2"
      "one two"
      "three four"
      "five six";
  }

@media(min-width:660px){
    #sidebar{
        display: none;
    }
}

@media(max-width:1113px){
    #box-container{
        flex-direction: column;
        align-items: center;
    }
    #box-1{
        width: 70%;
        height: 60%;
        text-align: left;
    }
    #box-2{
        width: 50%;
        height: 60%;
    }
    #box-3{
        width: 70%;
        height: 60%;
    }
    #box-education{
        /*
        grid-template-columns: auto;
        grid-template-areas:
        "one" 
        "two"
        "three" 
        "four"
        "five "
        "six";
        align-items: center;
        justify-items: flex-start;
        justify-content: start; */ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title-2{
        width: 70%;

    }
    .one{
        width: 70%;
        height: auto;
    }
    .two{
        width: 70%;
        height: auto;
    }
    .three{
        width: 70%;
        height: auto;
    }
    .four{
        width: 70%;
        height: auto;
    }
    .five{
        width: 70%;
        height: auto;
    }
    .six{
        width: 70%;
        height: auto;
    }
    .sidebar{
        display: none;
    }

}
@media(min-width:1115px){
    .p{
        margin-left: 250px;
    }
    #perfil{
        margin-left: 250px;
    }
    #ed{
        margin-left: 250px
    }
    .one{
        margin-left: 250px;
    }
    .two{
        margin-right: 150px;
    }
    .three{
        margin-left: 250px;
    }
    .four{
        margin-right: 150px;
    }
    .five{
        margin-left: 250px;
    }
    .six{
        margin-right: 150px;
    }
    #proyectos{
        margin-left: 13%;  
    }
    
}
@media(max-width:349px){
    #box-1{
        width: 66.66%;
        height: 55%;
        text-align: center;
    }
    #box-2{
        width: 80%;
    }
}
.period{
    font-size: 30px;
    text-align: right;
}



@media(max-width:660px){
    /*.navigation {
        display:block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: azure;
    }*/
     
    .navigation{
        display: none;
    }
}

/*Footer*/
#footer{
    height: 100%;
    display: flex;
    /*background:linear-gradient(245deg, #18f0b8, #E8EAEB, #FCFF00);*/
    background:linear-gradient(245deg, #03A696,#E8EAEB, #F2CB05);
    background-size: 400% 400%;
    position: relative;
    animation: Change 10s ease-in-out infinite;
}
@keyframes Change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
#box-1-footer{
    width: 50%;
    text-align: left;
}

#box-2-footer{
    width: 50%;
    text-align: right;
}
#Copyright{
    margin-top: 60px;
}
#box-1-footer-content{
    margin-left: 29%;
}
#footer #box-2-footer dl dt {
    display: inline-block;
    margin-right: 30px;
}
#box-2-footer-content{
    margin-right: 12%;
}
.icons{
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url('/Alternativo/icons/icons.svg');
    text-indent: 99px;
    overflow: hidden;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#twitter{
    background-position: 0 0;
}
#facebook{
    background-position: -60px 0;
}
#linkedin{
    background-position: -90px 0;
}
#github{
    background-image: url('/Alternativo/icons/github-brands.svg');
}
@media(max-width:700px){
    #footer{
        display: flex;
        flex-direction: column;
    }
    #box-2-footer{
        width: 100%;
        text-align: left;
    }
    #box-2-footer-content{
        margin-left: 12%
    }
}



